:root {
    font-family: system-ui, -apple-system, Segoe UI, Roboto, sans-serif;
}

body {
    margin: 0;
    padding: 2rem;
    display: grid;
    justify-content: space-between;
    grid:
            "... header header header" auto
            "... projects todo-list ..." auto/
            1fr minmax(100px,300px) minmax(100px,300px) 1fr;

}

.list-item {
    display: grid;
    align-items: baseline;
    grid:
            "priority task-name add-notes-button check-off-button delete-button"
            "... task-notes ... ... ..."
            "... notes-input ... ... ..."
            "submit-button ... ... ... ..."

}

.adder-button, .item-entry, .priority, .delete-button, .submit-notes-button  {
    cursor: pointer;
}

.completed-task {
    opacity: .3;
    text-decoration: line-through;
}

.priority {
    grid-area: priority;
}

.check-off-button {
    grid-area: check-off-button;
}

.todo-item {
    grid-area: task-name;
}

.add-notes {
    grid-area: add-notes-button;
}

.hidden {
    display: none;
}



.delete-button {
    grid-area: delete-button;
}

.task-notes {
    grid-area: task-notes;
}

.notes-input {
    grid-area: notes-input;
}

.submit-button {
    grid-area: submit-button;
}

#title {
    grid-area: header;
    font-size: 5rem;
    font-weight: 700;
}

#projects-container {
    grid-area: projects;
}

#todo-container {
    grid-area: todo-list;
}

.active-project {
    font-weight: 900;
    font-size: 1.5rem;
}

.notesInput {

}

.task-notes {
    font-size: .5rem;
    color: #555555;
}

.list-item:nth-child(even) {
    background-color: white;
}

.list-item:nth-child(odd) {
    background-color: #f9f9f9;
}